<blockquote>
  <cite>You</cite>
  <p><%= @question %></p>
</blockquote>

<blockquote class="coach">
  <cite>Your coach</cite>
  <p><%= @answer %></p>
</blockquote>

<%= link_to "Ask another question", ask_path %>

