<form action="/answer" method="/get">
  <input type="text" name="question" placeholder="Can I go home?">
  <span class="input-group-btn">
    <input type="submit" class="btn btn-primary">
  </span>
</form>
